@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap");

/* css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  /* border: solid red; */
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
}

.container {
  margin: 0 auto;
}

/* NAVIGATION */
nav {
  max-width: 1400px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baricon-container {
  height: 12vh;
  display: flex;
  align-items: center;
  z-index: 1;
}
.bar-btn {
  font-size: 35px;
  margin: 0 1.4rem;
  cursor: pointer;
  color: #000;
}
.nav-menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: all 0.5s;
}
.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 2s;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-style: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
  color: rgb(248, 8, 8);
}
#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}
#check:checked ~ .nav-menu li {
  display: block;
}

/* Utilities */
.d-flex {
  display: flex;
}

.textCenter {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.ItemsCenter {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.yellow-text {
  color: #ffb300;
}

.our-services {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.Exlore-Our-Service {
  margin-top: 0.5rem;
  font-size: 34px;
  font-weight: 500;
}
span {
  font-weight: 800;
}

.line {
  height: 35px;
  width: 4px;
  background-color: #ffb300;
}

.Logo-img {
  height: 8rem;
}

@media screen and (min-width: 768px) {
  .baricon-container {
    display: none;
  }
  .nav-menu {
    display: flex;
    justify-content: end;
    margin: 0;
    width: 100vw;
    position: static;
    height: auto;
    background: none;
    transition: none;
  }
  .nav-menu li {
    display: inline-block;
    margin: 0 1rem;
    width: auto;
    /* margin-right: 2rem; */
    transition: none;
  }
  .nav-menu li a {
    color: #000000;
    transition: all 2s;
  }
  .container-portada {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .textCenter {
    text-align: start;
  }
  .carrusel-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* margin-left: 12rem; */
  }
  .carrusel-info h1 {
    font-size: 35px;
  }
  .carrusel-info h3 {
    font-weight: 400;
    padding-bottom: 2rem;
  }
}

.btn {
  background-color: #ffb300;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 5px 10px 18px #888888;
}

.Item-Descubre-Mas button {
  margin: 0.8rem 0 0 0;
}

.btn-carrusel {
  position: relative;
  background: linear-gradient(0deg, #d9d9d9, #d9d9d9), #d9d9d9;
  margin: 2rem 0.5rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all ease 0.5s;
}

.btn-carrusel:hover {
  background: #f58303;
}

.vector1 img {
  position: absolute;
  top: -10%;
  right: 0;
  /* left: 100%; */
  z-index: -1;
  overflow: hidden;
}

.Server-Img {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 60vh;
}
.Server-Img img {
  height: 60vh;
}
.carrucel {
  margin-top: -2rem;
}

/* Main section */

main {
  margin-top: -4rem;
  width: 100%;
  height: 100%;
  left: 0;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1450px) {
  main {
    margin-top: -10rem;
  }
}

.main-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1rem;
  background: rgba(255, 183, 3, 0.1);
}

.container-portada {
  max-width: 1400px;
  width: 100%;
}

.container-slide-all {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.slide {
  margin: 0 auto;
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.container-portada {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

input[id="carrucel-1"]:checked ~ .slide {
  /* animation: none; */
  transform: translate3d(0, 0, 0);
}

input[id="carrucel-1"]:checked ~ .carrucel .btn-carrusel[for="carrucel-1"] {
  background: #f58303;
}

input[id="carrucel-2"]:checked ~ .slide {
  /* animation: none; */
  transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="carrucel-2"]:checked ~ .carrucel .btn-carrusel[for="carrucel-2"] {
  background: #f58303;
}

input[id="carrucel-3"]:checked ~ .slide {
  /* animation: none; */
  transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="carrucel-3"]:checked ~ .carrucel .btn-carrusel[for="carrucel-3"] {
  background: #f58303;
}

@media screen and (max-width: 768px) {
  .container-portada {
    flex-direction: column;
  }
  nav {
    margin-top: -1rem;
  }
  main {
    height: auto;
  }
  .main-container {
    height: auto;
  }
  .wave2 {
    margin-top: auto;
  }
  .Logo-img {
    padding-top: 5rem;
    height: 14rem;
  }
}

.planes {
  margin-top: 2.5rem;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow: hidden;
}

.planes h2 {
  color: #ffb300;
}
img {
  position: relative;
}

.residencial-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.comercial-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .comercial-card {
    align-items: center;
  }
  .residencial-card {
    align-items: center;
  }
}

.card-text {
  position: relative;
  background-color: #ffb300;
  padding: 1.4rem;
  height: 16rem;
  width: 18rem;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 40px;
}

.card-text h2 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
/* section */

section {
  position: relative;
  margin-top: -4rem;
  overflow: hidden;
}

.friends-connected {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 0;
  /* top: 20%; */
}

.about-us {
  margin: 0 auto;
  width: 95%;
  position: relative;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.about-usLine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 0.5rem;
}

.about-us h1 {
  font-size: 30px;
  font-weight: 800;
}
.about-us-width {
  width: 80%;
}

.check-us {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #000;
  font-weight: 500;
  margin-bottom: 1.3rem;
}
.check-us i {
  font-size: 1.5rem;
  color: #ffb300;
}

.strengths {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.strengths div {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .strengths {
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .section-img-splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .about-us-width {
    width: 40%;
  }
  .about-us {
    /* text-align: end; */
    margin-left: 12rem;
    justify-content: flex-start;
  }
}

/* .testwave{
  height: 500px;
  width: 100%;
  background-color: black;
clip-path: ellipse(60% 100% at 50% 100%);
} */

.section-pricing {
  /* change it */
  margin-top: 5rem;
}
.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.plans-type {
  font-weight: 500;
  text-align: center;
  margin-top: 1.4rem;
}
.plans-type span {
  font-weight: 800;
}

.box-prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 1.5rem;
  /* background: #ffb300; */
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 5px 1px rgba(193, 193, 193, 0.7);
  border-radius: 4px;
  text-align: center;
  transition: all ease 0.3s;
}
.box-prices:hover {
  background-color: #dbdbdb;
  transform: scale(1.05);
}

.btn-started {
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
  height: 52px;
  font-weight: 600;
  background: #fff;
  border: solid 2px #dbdbdb;
  border-radius: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}

.Item-Descubre-Mas button {
  padding: 0.5rem 2rem;
}

@media screen and (min-width: 768px) {
  .box-prices {
    width: 430px;
  }
}

.fa-wifi {
  margin: 1.4rem;
  font-size: 3.4rem;
  color: #000000;
}

.card-box-prices {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1020px) {
  .container-boxes-prices {
    gap: 5rem;
  }
  .card-box-left {
    justify-content: flex-end;
  }
  .card-box-right {
    justify-content: flex-start;
  }
}
.planes-prices {
  margin-top: 2rem;
  justify-content: center;
  gap: 3rem;
}

.container-boxes-prices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin-bottom: 1rem;
}

.horizontal-Line {
  margin: 1rem 0;
  width: 160px;
  border: 1px solid #ededed;
}

.card-prices-content {
  width: 100%;
  padding: 1rem;
  text-align: start;
}

.card-prices-content span {
  font-weight: 600;
}

.fa-circle-check {
  font-size: 1rem;
  margin-right: 0.2rem;
  color: #000000;
}

.card-prices-btn {
  display: flex;
  justify-content: center;
}
